 #navbarSupportedContent{
        margin-left:700px;
    }
    #div1{
        border: 5px solid black;
        margin:50px;
       padding:0px 0px 200px 0px;
       
    }
       body {
  background-color: #dcdbdb;
}

.navbar {
  background-color: #acb5de;
  border-radius: 0;
  border: none;
}

.navbar-brand {
  color: #a5adc8e3;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav > li > a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar-nav > li > a:hover {
  color: #bc8888;
}

/* Styling for the carousel */
.carousel-inner img {
  max-height: 400px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #e7cea5;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

/* Styling for the accordion */
.accordion-item {
  margin-bottom: 20px;
}

.accordion-button {
  background-color: #ede3c0;
  color: #080202;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-body {
  background-color: #f8f9fa;
  color: #000;
}

/* Styling for the cards */
.card {
  margin-bottom: 20px;
  border: 1px solid #a08eef;
  border-radius: 10px;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-title {
  font-weight: bold;
}

.card-body {
  padding: 20px;
}

.btn-info {
  background-color: #64a2e0;
  border-color: #2c58d2;
  font-weight: bold;
}

.btn-info:hover {
  background-color: #353792;
  border-color: #6464dc;
}
